@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}
.login-box{
	border-radius: 30px;
}

.input-group .form-control {
	border-radius: 14px;
}
.btn.btn-login {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: #3bcb63;
	border-radius: 12px;
	margin-bottom: 14px;
}

.brand {
	font-size: 2rem;
	font-weight: bold;
}
